
<% if @current_user%>
<h1>Logged in as:</h1>
<h1><%= "#{@current_user.fname} #{@current_user.lname}" %></h1>

<a href=<%= "/users/#{@current_user.id}/cards/new" %>>ADD NEW CARDS</a>

<% else %>
<h2>LOGIN PAGE</h2>
  <%= render partial: "./sessions/new" %>
<br>
<%= link_to ("NEW TO THE SITE? CLICK HERE TO SIGN UP!"), "/users/new", method: :get %>
<% end %>


