<!DOCTYPE html>
<html>
<head>
  <title>CreditCardStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h4>WEEK SIX CREDIT_CARD_STORE</h4>

<a href="/users/show">user account</a>
<a href="/products/">list of products</a>

<%= yield %>

</body>
</html>
